.card {
    position: relative;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* transition: .3s ease-in; */
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.net.card:hover .text_net.card-overlay {
    left: -100%;
    transition: .5s ease-out;
}

.java.card:hover .text_java.card-overlay {
    top: -100%;
    transition: .5s ease-out;
}

.php.card:hover .text_php.card-overlay {
    opacity: 0;
    transition: .5s ease-out;
}

.events.card:hover .text_events.card-overlay,
.blog.card:hover .text_blog.card-overlay {
    top: 100%;
    left: 100%;
    transition: .5s;
}

.contacts.card:hover .text_contacts.card-overlay {
    top: -100%;
    left: -100%;
    transition: .5s;
}


/* =================================================================== */
/* ========================== Rotating cards ========================= */
/* =================================================================== */

.card-inner {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.card-inner:hover {
    transform: rotateY(180deg);
}

.card-content {
    position: absolute;
    top: 0;
    bottom: 0;
}
  
.card-content {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.card-content.front {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_qa.card-content.front {
    background: rgb(82, 191, 119);
}

.text_js.card-content.front {
    background: rgb(247, 207, 105);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5%;
    box-sizing: border-box;
}

.card-content.back {
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    transform: rotateY(180deg);
    color: black;
    font-size: 14px;
    text-align: left;
}
  