.nameLetter {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    outline: 0;
    text-align: center;
    background-color: rgb(255, 196, 0);
}

.nameLetter:hover {
    cursor: pointer;
    transition: .3s ease-out;
    background-color: rgb(235, 146, 31);
}

.toggle-menu {
    display: none;
}

.dropdown {
    display: none;
    font-size: 14px;
    grid-column-start: 17;
    grid-column-end: 19;
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    text-align: left;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);   
}

.dropdown-item {
    color: black;
    text-transform: capitalize;
    list-style: none;
    padding: 5px;
}

.dropdown-item_decorated {
    color: gray;
    text-align: center;
    border-bottom: 1px solid gray;
}


input[type="checkbox"]:checked + ul.dropdown {
    display: inherit;
}