.notf-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.notf {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.notf-icon {
    padding: 0 20px 0 10px;
}

.notf-header {
    font-weight: bold;
}

.notf-text {

}

.success {
    background-color: rgba(79, 173, 79, 0.9);
}

.alert {
    background-color: rgba(179, 79, 79, 0.9);
}

.warning {
    background-color: rgba(206, 192, 70, 0.9);
}