body {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: auto;
    background: #bebec946;
    font-family: "Gilroy-Regular";
}

@keyframes slideInFromLeft {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
}

.head {
    display: grid;
    height: 50px;
    width: 100%;
    grid-template-columns: 5% 5% repeat(16, 1fr) 5% 5%;
    grid-template-areas: ". . logo . . . . . . . . . . . . . . nav . . ";
    top: 0;
    background: white;
    position:fixed;
    color: black;
    z-index: 1000;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.logo { 
    margin-top: 5px;
    margin-bottom: 5px;
    grid-area: logo;
    align-items: center;
    width: 105px;
    /* height: 30px; */
}

.logo_img {
    min-width: 105px;
    width: 100%;
    height: 100%;
}


.nav {
    display: flex;
    justify-content: center;
    float: right;
    grid-area: nav;
    align-items: center;
}

.profile {
    width: 30px;
    height: 30px;
}

.notification {
    height: 20px;
    width: 40px;
    margin-right: 10px;
    float: left;
}

.notification-icon,
.notification-icon-inner {
    fill: #bac3cb;
    display: block;
    width: 100%;
    height: 100%;
}

.instagram,
.facebook,
.telegram {
    margin-left: 5%;
}

.instagram-anim,
.facebook-anim, 
.telegram-anim {
    display: block;

}

.instagram-anim:hover,
.facebook-anim:hover,
.telegram-anim:hover {
    transition: .1s ease-out;
    color: blue;
}

.notification:hover > .notification-icon > .notification-icon {
    transition: .3s ease-out;
    fill: rgb(88, 88, 88);
}

.nameLetter {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.logo:hover,
.profile:hover,
.notification:hover {
    cursor: pointer;
}

.grid-container {
    height: calc(0.4*100vw);
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        ". . a a a a js js js js php php php php php php php php . ."
        ". . a a a a js js js js php php php php php php php php . ."
        ". . a a a a js js js js php php php php php php php php . ."
        ". . a a a a js js js js net net net net net events events events . ."
        ". . qa qa qa qa js js js js net net net net net events events events . ."
        ". . qa qa qa qa js js js js net net net net net blog blog blog . ."
        ". . qa qa qa qa java java java java net net net net net blog blog blog . ."
        ". . qa qa qa qa java java java java net net net net net contacts contacts contacts . ."
}

.A {
    grid-area: a;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academy-icon {
    width: calc(0.13*100vw);
    height: calc(0.13*100vw);
}

.QA {
    grid-area: qa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_qa {
    color: white;
    font-size: calc(0.06*100vw);
}

.JS {
    grid-area: js; 

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.text_js{
    color: black;
    font-family: "Helvetica-Bold";
    font-size: calc(0.07*100vw);
    text-align: right;
    margin-right: 5%;
}

.java {
    grid-area: java;
}

.text_java {
    color: white;
    font-size: calc(0.03*100vw);
    background: rgb(225, 43, 76);
    display: flex;
    justify-content: center;
    align-items: center;
}

.php {     
    grid-area: php;
}

.text_php {
    color: black;
    font-size: calc(0.07*100vw);
    font-style: italic;
    background: rgb(136, 147, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}

.net {     
    grid-area: net;
}

.text_net {
    color: white;
    font-size: calc(0.06*100vw);
    background: rgb(100, 32, 119);
    display: flex;
    justify-content: center;
    align-items: center;
}

.events {    
    grid-area: events;
}

.text_events {
    color: white;
    font-size: calc(0.015*100vw);
    background: rgb(45, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {    
    grid-area: blog;
}

.text_blog {
    color: white;
    font-size: calc(0.015*100vw);
    background: rgb(4, 67, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts { 
    grid-area: contacts;
}

.text_contacts {
    color: white;
    font-size: calc(0.01*100vw);
    background: rgb(0, 38, 95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1080px) {
    .head{
        grid-template-columns: 5% repeat(18, 1fr) 5%;
        grid-template-areas: ". logo . . . . . . . . . . . . . . . . nav . ";
    }
    .grid-container {
        width: 100vw;
        height: calc(0.8*100vw);
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 1fr);
        grid-template-areas:
            ". a a a a a a a a js js js js js js events events events events ."
            ". a a a a a a a a js js js js js js events events events events ."
            ". a a a a a a a a js js js js js js events events events events ."
            ". a a a a a a a a js js js js js js events events events events ."
            ". a a a a a a a a js js js js js js blog blog blog blog ."
            ". a a a a a a a a js js js js js js blog blog blog blog ."
            ". a a a a a a a a js js js js js js blog blog blog blog ."
            ". a a a a a a a a js js js js js js blog blog blog blog ."
            ". a a a a a a a a js js js js js js contacts contacts contacts contacts ." 
            ". a a a a a a a a js js js js js js contacts contacts contacts contacts ."
            ". java java java java java java java java java php php php php php php php php php ."
            ". java java java java java java java java java php php php php php php php php php ."
            ". java java java java java java java java java php php php php php php php php php ."
            ". java java java java java java java java java php php php php php php php php php ."
            ". java java java java java java java java java php php php php php php php php php ."
            ". qa qa qa qa qa qa qa qa qa net net net net net net net net net ."
            ". qa qa qa qa qa qa qa qa qa net net net net net net net net net ."
            ". qa qa qa qa qa qa qa qa qa net net net net net net net net net ."
            ". qa qa qa qa qa qa qa qa qa net net net net net net net net net ."
            ". qa qa qa qa qa qa qa qa qa net net net net net net net net net ."
    }
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../static/Gilroy-Regular-8e8705d069fbb9099b3a1e1d779fa5c5.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("../static/HelveticaBold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Gilroy-Heavy";
    src: url("../static/Gilroy-Heavy.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../static/Gilroy-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

